DSL_LAB_3/online_retail.csv
DSL_LAB_3/modified_coco.json
DSL_LAB_2/GLT_filtered.csv
DSL_LAB_1/iris.data
DSL_LAB_1/mnist_test.csv
DSL_LAB_1/to-bike
DSL_LAB_5/__MACOSX/._New_York_City_Map.PNG
DSL_LAB_5/__MACOSX/._ny_municipality_pois_id.csv
DSL_LAB_5/__MACOSX/._pois_all_info
DSL_LAB_5/New_York_City_Map.PNG
DSL_LAB_5/ny_municipality_pois_id.csv
DSL_LAB_5/pois_all_info
/DSL_LAB_7/free-spoken-digit
DSL_LAB_7/free-spoken-digit.zip
